@charset "utf-8";

/*

   Style Sheet for the Layout of the Carolina Health Specialist Home Page
   Author: Richard D'Anjolell
   Date: 05/23/21 
   
   Filename: chs_home.css

*/

/* Article Styles */

article {
	padding-left: 16px;
	padding-right: 16px;
}

/* Ordered Lists Styles */

ol {
	text-align: left;
}
