@charset "utf-8";

/*

   Style Sheet for the Layout of the Carolina Health Specialist Home Page
   Author: Richard D'Anjolell
   Date: 05/23/21 
   
   Filename: chs_home.css

*/

/* Article Styles */

article {
	background-color: rgb(173, 224, 255);
	text-align: center;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 10px;
}

/* Table Styles */

table.locations, table.locations td{
	border: 3px solid grey;
}

td:nth-child(even) {
	width: 50%;
	vertical-align: top;
}

table.contact {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

/*============================
  Mobile Styles: 0px to 480px
  ============================
*/

@media only screen and (max-width: 480px) {
	
	iframe {
		width: 600px;
	}
}