@charset "utf-8";

/*

   Style Sheet for the Layout of the Carolina Health Specialist Home Page
   Author: Richard D'Anjolell
   Date: 05/23/21 
   
   Filename: chs_home.css

*/

/* Article Styles */

article {
	background-color: rgb(173, 224, 255);
	text-align: center;
	padding-left: 16px;
	padding-right: 16px;
}

/* Button Styles */

input {
	width: 100%;
	margin-bottom: 15px;
	font-size: 20px;
	background-color: #008CBA;
	color: white;
	border: none;
	transition-duration: 0.4s;
}

input:hover {
	background-color: white;
	color: black;
	border: 2px solid #008CBA;
	cursor: pointer;
}

/* Div Styles */

div {
	display: none;
}

p#warning {
	color: red;
}

img#unknown {
	background-color: white;
	padding-top: 90px;
	padding-bottom: 90px;
}

/* Video Styles */

video {
	height: 240px;
	width: 420px;
}